<aside id="aside" module="layout_slidePackage">
    <!--@css(/layout/basic/css/slideMenu.css)-->
	<!--@js(/layout/basic/js/slide_menu.js)-->
    <nav class="navigation-menu" role="navigation">
		<div class="slide_top_inner">
			<div class="slide_logo" module="Layout_LogoTop"><a href="/"><img src="{$logo}" alt="{$mall_name}"></a></div><!-- //slide_logo -->
			<button type="button" class="btnClose"><i aria-hidden="true" class="icon icoClose"></i>닫기</button>

			<div class="navigation_state" data-ez-group="top-util-menu" data-ez-role="list">
				<a data-ez-item="join" module="Layout_statelogoff" href="/member/agreement.html">회원가입</a>
				<a data-ez-item="login" module="Layout_statelogoff" href="/member/login.html">로그인</a>
				<a data-ez-item="modify" module="Layout_stateLogon" href="/member/modify.html">내정보수정</a>
				<a data-ez-item="logout" module="Layout_stateLogon" href="{$action_logout}">로그아웃</a>
				<a data-ez-item="order" href="/myshop/order/list.html">주문조회</a>
				<a data-ez-item="mypage" module="Layout_stateLogon" href="/myshop/index.html">마이페이지</a>
				<a data-ez-item="recent" href="/product/recent_view_product.html">최근본상품</a>
			</div><!-- //navigation_state -->
		</div><!-- //navigation-menu -->

		<div class="nav_inner">
			<div class="tab_inner">
				<div data-ez-module="menu-side/1">
				    <div id="slideCateList" class="navigation-menu__category">
						<ul module="layout_category" class="categoryList">
							<li id="cate{$cate_no}" class="menu">
								<a href="{$link_product_list}" class="view">{$name|cut 25}</a>
								<a href="#none" class="cate" cate="{$param}">상품보기</a>
							</li>
							<li id="cate{$cate_no}" class="menu">
								<a href="{$link_product_list}" class="view">{$name|cut 25}</a>
								<a href="#none" class="cate" cate="{$param}">상품보기</a>
							</li>
						</ul>
				    </div>
				</div><!-- //menu-side/1 -->

				<div class="community_tab">
					<div class="side_title">고객센터<span></span></div>
					<div class="board cboth">
						<ul module="Layout_BoardInfo"><!-- 슬라이드 게시판 자동출력 -->
							<li><a href="{$board_list_url}">{$board_name}</a></li>
							<li><a href="{$board_list_url}">{$board_name}</a></li>
						</ul>
					</div>
				</div><!-- //community_tab -->
			</div><!-- //tab_inner -->

			<div module="Layout_multishopList">
				<button type="button" class="toggle lang_title">LANGUGE : {$current_language}<span></span></button>
				<ul module="Layout_multishopListitem">
					<li class="{$selected_class}">
						<a href="//{$shop_domain}/">{$locale_language}</a>
					</li>
					<li class="{$selected_class}">
						<a href="//{$shop_domain}/">{$locale_language}</a>
					</li>
				</ul>
			</div>
		</div><!-- //nav_inner -->
	</nav>
</aside>