<div class="bottom-nav RMB RTB" ez-module="bottom-navigation" data-ez="contents-17dizv3-1">
<ul class="bottom-nav__tabBar">
<li><button class="btnNav eNavFold" type="button"><i aria-hidden="true" class="icon icoNav"></i>네비게이션</button></li>
<li><button class="btnSearch eSearch" type="button"><!--@import(/svg/icon-search.html)-->검색</button></li>
<li><a href="/"><!--@import(/svg/icon-home.html)-->홈</a></li>
<li module="Layout_stateLogon"><a href="/order/basket.html"><!--@import(/svg/icon-cart.html)-->Cart <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a></li>
<li module="Layout_stateLogoff"><a href="/order/basket.html"><!--@import(/svg/icon-cart.html)-->Cart <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a></li>
<li><a href="/myshop/index.html"><!--@import(/svg/icon-user.html)-->마이쇼핑</a></li>
</ul>
<div class="bottom-nav__top">
<a href="#wrap" title="화면 최상단으로 이동하기"><!--@import(/svg/icon-quick-arrow.html)--></a>
</div>
</div>
<div class="footer_margin" data-ez="module-08bt51k-1" data-ez-module="user-defined/1" data-ez-name="USER DEFINED" data-ez-type="plain"></div>
<footer class="layout03" data-ez-layout="layout03" id="footer" data-ez="contents-1kgeisi-1">
<ez-prop data-version="1.0.0" type="layout">
<ez-var data-namespace="ez.layout.footer.layout" data-prop="layout" data-type="array">
<ez-item data-id="layout01" data-name="기본형"></ez-item>
<ez-item data-id="layout02" data-name="좌우반전형"></ez-item>
<ez-item data-id="layout03" data-name="중앙형"></ez-item>
</ez-var>
</ez-prop>
<div id="right_quick">

	<div><a href="#none" onclick="$('html,body').animate({scrollTop:0},'slow')"><img src="/SkinImg/img/r_quick_top.svg" class="quick-btn"></a></div>
<div><a href="#none" onclick="$('html,body').animate({scrollTop:$(document).height()},'slow');"><img src="/SkinImg/img/r_quick_bottom.svg" class="quick-btn"></a></div>
</div><!-- //right_quick -->
<div class="inner" module="Layout_footer">
<div class="inner_t">
<div class="info_left">
<div class="bt_logo" module="Layout_LogoBottom"><a href="/"><img src="{$logo}" alt="{$mall_name}" data-ez-eb="/web/upload/ezst/shop1/ez-logo-top.edibotbanner.json"></a></div><!-- //bt_logo -->
<div class="bt_info" data-ez-group="info">
<div class="bt_title" data-ez-role="title">쇼핑몰 기본정보</div>
<div class="bt_info_list" data-ez-role="list">
<div data-ez-item="company_name"><span data-ez-role="field">상호명</span> <span data-ez-role="value">{$company_name}</span></div>
<div data-ez-item="president_name"><span data-ez-role="field">대표자명</span> <span data-ez-role="value">{$president_name}</span></div>
<div data-ez-item="address"><span data-ez-role="field">사업장 주소</span> <span data-ez-role="value">{$mall_zipcode} {$mall_addr1} {$mall_addr2}</span></div>
<div data-ez-item="phone"><span data-ez-role="field">대표 전화</span> <span data-ez-role="value">{$phone}</span></div>
<div data-ez-item="company_regno"><span data-ez-role="field">사업자 등록번호</span> <span data-ez-role="value">{$company_regno}</span></div>
<div data-ez-item="network_regno"><span data-ez-role="field">통신판매업 신고번호</span> <span data-ez-role="value">{$network_regno} {$biz_no_link}</span></div>
<div data-ez-item="cpo_name"><span data-ez-role="field">개인정보보호책임자</span> <span data-ez-role="value">{$cpo_name}</span></div>
</div><!-- //bt_info_list -->
</div><!-- //bt_info -->
</div>
<div class="info_right">
<div class="bt_util" data-ez-group="shortcut">
<div data-ez-role="title" style="display:none;">바로가기</div>
<ul data-ez-role="list">
<li data-ez-item="company"><a href="/shopinfo/company.html">회사소개</a></li>
<li data-ez-item="agreement"><a href="/member/mall_agreement.html">이용약관</a></li>
<li data-ez-item="privacy"><a href="/member/privacy.html"><strong>개인정보처리방침</strong></a></li>
<li data-ez-item="guide"><a href="/shopinfo/guide.html">이용안내</a></li>
</ul>
</div><!-- //bt_util -->
<div class="wrap_cs">
<div class="cs_center_txt" data-ez-group="cs" module="Layout_Info">
<div class="bt_title" data-ez-role="title">고객센터 정보</div>
<div data-ez-role="list">
<div class="bt_tel" data-ez-item="phone"><strong>상담/주문전화</strong><span class="pdr10"></span><span data-ez-role="value">{$phone}</span></div>
<div class="bt_mail" data-ez-item="email"><strong>상담/주문 이메일</strong><span data-ez-role="value">{$inquiry_email}</span></div>
<div class="bt_time" data-ez-item="runtime"><strong>CS운영시간</strong><span data-ez-role="value">{$runtime}</span></div>
</div>
</div>
<div class="bank_txt" data-ez-group="bank">
<div class="bt_title" data-ez-role="title">결제 정보</div>
<div class="bt_title_sub"><strong>무통장 계좌정보</strong></div>
<div data-ez-role="list"><div data-ez-role="item">
<span data-ez-role="bank_name">카카오뱅크</span> <span class="pdr10"></span>
<span data-ez-role="account_number">3333-32-1664649</span><span class="pdr10"></span>
<span data-ez-role="account_name">김규동(세이브애즈)</span>
</div></div>
</div>
<div class="sns_txt" data-ez-group="sns" data-ez-role="list">
<div class="bt_title" data-ez-role="title">SNS</div>
<a data-ez-item="instagram" href="https://instagram.com/" target="_blank">instagram</a>
<a data-ez-item="youtube" href="https://youtube.com/" target="_blank">youtube</a>
<a data-ez-item="facebook" href="https://facebook.com/" target="_blank">facebook</a>
<a data-ez-item="kakao" href="https://pf.kakao.com/" style target="_blank">kakao</a>
<a data-ez-item="twitter" href="https://twitter.com/" target="_blank">twitter</a>
<a data-ez-item="blog" href="https://blog.naver.com/" target="_blank">blog</a>
</div><!-- //bt_sns -->
</div>
</div>
</div>
<div class="inner_b">
<div class="bt_copyright">
				Copyright © {$mall_name}. All Rights Reserved. Hosting by Cafe24 Corp.
			</div><!-- //bt_copyright -->
<div class="bt_dummy">
<div class="bt_escrow" data-ez-escrow style="display:none;"><!-- 구매안전서비스 배너 -->
<a data-ez-link="#link" href="#">
<img alt="올앳" class="bt_ew_allat" data-ez-escrow-id="allat" src="/SkinImg/img/bt_ew_allat.png">
<img alt="이니시스" class="bt_ew_iniapy" data-ez-escrow-id="inicis" src="/SkinImg/img/bt_ew_iniapy.png">
<img alt="NHN한국사이버결제" class="bt_ew_kcp" data-ez-escrow-id="kcp" src="/SkinImg/img/bt_ew_kcp.png">
<img alt="한국정보통신" class="bt_ew_kicc" data-ez-escrow-id="kicc" src="/SkinImg/img/bt_ew_kicc.png">
<img alt="케이에스넷" class="bt_ew_ksnet" data-ez-escrow-id="ksnet" src="/SkinImg/img/bt_ew_ksnet.png">
<img alt="나이스페이먼츠" class="bt_ew_nice" data-ez-escrow-id="nicepay" src="/SkinImg/img/bt_ew_nice.png">
<img alt="토스페이먼츠" class="bt_ew_payments" data-ez-escrow-id="dacom" src="/SkinImg/img/bt_ew_payments.png">
<img alt="세틀뱅크" class="bt_ew_settle" data-ez-escrow-id="settlebank" src="/SkinImg/img/bt_ew_settle.png">
<img alt="스마트로" class="bt_ew_smartro" data-ez-escrow-id="smartro" src="/SkinImg/img/bt_ew_smartro.png">
<span>고객님은 안전거래를 위해 결제시 저희 쇼핑몰에서 가입한 구매안전 서비스를 이용하실 수 있습니다. [서비스가입정보확인]</span>
</a>
</div><!-- //bt_escrow -->
</div><!-- //bt_dummy -->
</div>
</div><!-- //inner -->
</footer>
<!--#ez="1/4"-->